{% extends 'base.html'%}
{% block content%}
<div class="col-md-4 col-md-offset-4" align="center">{{username}}</div>
{% for treasure in treasures %}
<div align="center">
<a href="/{{treasure.pk}}/"><h1>{{treasure.name}}</h1></a>
    <p>{{treasure.value}}</p>
    <p>{{treasure.material}}</p>
    <p>{{treasure.location}}</p>
    <img src="{{treasure.img_url.url}}" height="100" width="100">
    <!--<a href="delete_treasure/{{treasure.pk}}/">delete</a>-->
    <form   action="delete_treasure/{{treasure.pk}}/" method="post">
        {% csrf_token %}
        <input type="submit" value="delete">
    </form>
{% endfor %}

</div>



{% endblock %}


